<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>servlet.userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>minlogin</servlet-name>
        <servlet-class>servlet.minlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clerklogin</servlet-name>
        <servlet-class>servlet.clerklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addclerk</servlet-name>
        <servlet-class>servlet.addclerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addmin</servlet-name>
        <servlet-class>servlet.addmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acquireissue</servlet-name>
        <servlet-class>servlet.acquireissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createuserissue</servlet-name>
        <servlet-class>servlet.createuserissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnselect</servlet-name>
        <servlet-class>servlet.returnselect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createclerkissue</servlet-name>
        <servlet-class>servlet.createclerkissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cmlogin</servlet-name>
        <servlet-class>servlet.cmlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeissue</servlet-name>
        <servlet-class>servlet.closeissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignissue</servlet-name>
        <servlet-class>servlet.assignissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>givefeedback</servlet-name>
        <servlet-class>servlet.givefeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delclerk</servlet-name>
        <servlet-class>servlet.delclerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delmin</servlet-name>
        <servlet-class>servlet.delmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>minlogin</servlet-name>
        <url-pattern>/minlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clerklogin</servlet-name>
        <url-pattern>/clerklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addclerk</servlet-name>
        <url-pattern>/addclerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addmin</servlet-name>
        <url-pattern>/addmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acquireissue</servlet-name>
        <url-pattern>/acquireissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createuserissue</servlet-name>
        <url-pattern>/createuserissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnselect</servlet-name>
        <url-pattern>/returnselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createclerkissue</servlet-name>
        <url-pattern>/createclerkissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cmlogin</servlet-name>
        <url-pattern>/cmlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeissue</servlet-name>
        <url-pattern>/closeissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignissue</servlet-name>
        <url-pattern>/assignissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>givefeedback</servlet-name>
        <url-pattern>/givefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delclerk</servlet-name>
        <url-pattern>/delclerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delmin</servlet-name>
        <url-pattern>/delmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
